<div>
 <h2>Departments</h2>
    <ul>
      <li *ngFor="let department of departments">
            {{department.payload.doc.data().department}}
      </li>
    </ul>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Department</th>
          <th>faculty</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of departments">
          <td>{{department.payload.doc.data().department}}</td>
          <td>{{department.payload.doc.data().faculty}}</td>
          <td>
            <button class="btn btn-primary" (click)="viewEditPage(department)">Edit</button>
            <button class="btn btn-danger"  (click)="deleteDepartment(department)">Delete</button>
          </td>
        </tr>
        
      </tbody>
    </table>
</div>